@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    background-color: #38192F;
    color: #FFFFFF;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #291021;
}

::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
}

.header {
    text-align: center;
    font-size: 1vw;
    padding: 50px;
}

.youtube,
.spotify {
    text-align: center;
}

.bt_login, .merge {
    border: 2px solid #FFFFFF;
    box-shadow: none;
    margin-top: 5%;
    padding: 10px 100px;
}

.logged,
.yt_user {
    float: left;
}

.bt_login:hover, .merge:hover {
    background-color: #FFFFFF;
    color: #38192F;
    transition: .5s;
}

.yt_user {
    padding-left: 10px;
}

.pl_content {
    margin-top: 5%;
    border: 1px solid #FFFFFF;
    text-align: center;
    max-height: 450px;
    overflow-y: scroll;
}

.subtitle {
    padding-bottom: 20px;
    padding-top: 20px;
}

.dropdown {
    border: 2px solid white;
    padding: 5px;
    width: 60%;
    margin: 5%;
    box-shadow: none;
}

.dropdown:focus {
    border: 2px solid white;
    box-shadow: none;
}

.pl_content .dropdown {
    display: block;
    margin: 0 auto;
}

.content_header {
    text-align: center;
    position: fixed;
    border: 2px solid lime;
    margin-left: 3%;
}

.song {
    padding: 5px;
    list-style-type: decimal;
}

.mergers{
    text-align: center;
}

.merge{
    display: inline-block;
    margin: 5% 2%;
}